<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Ошибка</title>
		<!--meta-->
		<div th:replace="~{commons :: head}"></div>
	</head>
	<body>
		<div class="site-container">

			<div th:replace="~{commons :: headerFirst}"></div>
			<div th:replace="~{commons :: headerSecond}"></div>

			<div class="theme-page padding-bottom-66">
				<div class="clearfix page-404 top-border">
					<div class="row margin-top-70">
						<div class="column column-1-1">
							<h2>УУУПСССС....</h2>
							<h1>404</h1>
							<p class="description align-center">Простите, но похоже все пошло не по тому плану, которого мы придерживались...
								Вернитесь к <a href="index" title="GO TO HOME">главной странице</a>.</p>
						</div>
					</div>
				</div>
			</div>

			<!--footer-->
			<div th:replace="~{commons :: footer}"></div>
		</div>
		<a href="#top" class="scroll-top animated-element template-arrow-up" title="Scroll to top"></a>
		<div class="background-overlay"></div>

	</body>
</html>